
.DS_Store
bundle_7.x.x/lib/.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/MatrixWeather.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
code/scroll_example.py
code/scroll_example_1.py
